.Menu_Title {
    display: flex;
}
.MenuBg{
    background-color: #2E2460 !important;
    --background: var(--ion-menu-background);
    color: white;
}

.Menu_Title_Profile {
    color: white;
    margin-left: auto;
    text-align: center;
}